#.onLoad <- function(lib, pkg) require(methods)

#  All functions exported other than those starting with "."
import(IRanges, BSgenome, GenomicRanges, methods)
exportClasses(FastQC, SequenceQC, SequenceQCSet, ScoresList, ClusteredCoverageList)
exportMethods(show)
exportPattern("^[^\\.]")
